@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*
{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.jokenpo
{
    width: 150px;
    height: 150px;
}

#score
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#player, #computer
{
    position: relative;
    flex-grow: 1;
    border-radius: 5px;
    width: 200px;
    padding: 20px;
    color: #fff;
}

#player
{
    background-color: #ff7675;
}

#computer
{
    background-color: #74b9ff;
}

#versus
{
    font-size: 50px;
    text-align: center;
    width: 70px;
}

#player-id, #computer-id
{
    margin: 0;
    padding: 0;
}

#player-id
{
    text-align: left;
}

#computer-id
{
    text-align: right;
}

#player-points, #computer-points
{
    position: absolute;
    top: 8px;
    font-size: 32px;
}

#player-points
{
    right: 20px;
}


ul#player-choice, ul#computer-choice
{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

ul#player-choice li, ul#computer-choice li
{
    display: inline;    
}

ul#player-choice li a, ul#computer-choice li a
{
    opacity: 0.5;
}

ul#player-choice li a:hover, ul#player-choice li a.selected, ul#computer-choice li a.selected
{
    opacity: 1;
}


ul#player-choice li a img, ul#computer-choice li a img
{
    max-width: 100px;
}

#messages
{
    background-color: #b2bec3;
    font-size: 32px;
    border-radius: 5px;
    margin: 40px 0;
    padding: 20px;
}

.velhinho
{
    width: 200px;
    height: 200px;
}

.conteudo
{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}