@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*
{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.jokenpo
{
    width: 150px;
    height: 150px;
}

#score
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#player, #computer
{
    position: relative;
    flex-grow: 1;
    border-radius: 5px;
    width: 200px;
    padding: 20px;
    color: #fff;
}

#player
{
    background-color: #ff7675;
}

#computer
{
    background-color: #74b9ff;
}

#versus
{
    font-size: 50px;
    text-align: center;
    width: 70px;
}

ul#player-choice, ul#computer-choice
{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

ul#player-choice li, ul#computer-choice li
{
    display: inline;    
}

ul#player-choice li a, ul#computer-choice li a
{
    opacity: 0.5;
}


ul#player-choice li a:hover
{
    opacity: 1;
}


ul#player-choice li a img, ul#computer-choice li a img
{
    max-width: 100px;
}